<html>
  <head>
    <title>Twitter</title>
  </head>
  <body>
      <%@posts_repo.all.reverse.each do |post|%>
      <div>
        @<%=@users_repo.find(post.user_id).username%>
        <h3><%=post.message%></h3>
        <%=post.timestamp%>
      </div>
      <% end %>
    <div>
        <footer>
        <a href='/login'>Log in</a><br>
        <br>
        <a href='/signup'>Sign up</a><br>
        <br>
        <a href='/'>Twitter</a><br>
        <br>
        </footer>
    </div>
  </body>
</html